<% if @user %>
<h1>Hello  <%= @user.name %> !</h1>
<h3>Here are all the baskets</h3>
 <% end %>
<p>Choose from one of the preset gourmet baskets or create your own custom one</p>

<ul><% Basket.all.each do |basket| %>
<br>
    <li><b><%= basket.id%>.</b> <b><%= basket.name.capitalize%>:</b> <i>Contains</i> : <u><%= basket.ingredients%></u></li>
    <% end %>
</ul>
<br>

<p>Would you like to create your custom basket?</p>
<p><a href="/basket/new">Click here!</a><p>

<a href="/logout">Logout</a> | <a href ="/show/customs">View All Baskets</a>

<br><br>
<p><a href="/logout">Logout</a></p> | <a href="/profile/<%= current_user.id %>">Click here to go back to your profile</a>
