<h2>Edit your customized basket</h2>
<h1>These are all baskets created</h1>

<ul><% Basket.all.each do |basket| %>
<br>
    <li><b><%= basket.id%>.</b> <b><%= basket.name.capitalize%>:</b> <i>Contains</i> : <u><%= basket.ingredients%></u></li>
    <% end %>
</ul>
<br>
<h2>To update your customized "Gourmet Basket"</h2>






<form action ="/basket/update" id="basketlist" method ="post" >
<input type="hidden" name="_method" value="put">
<br>
<p>Choose the basket that you have created that you want to edit</p>
<label for="id">Basket: </label>
<select name="id" >
<% Basket.all.each do |basket|%>
<% if basket.name != nil && basket.user_id == current_user.id %>
<option value="<%= basket.id%>" id="<%= basket.id%>"> <%= basket.id %> <%= basket.name %> Basket. This contains: <%= basket.ingredients%> </option>
 <% end %>
<% end %>
</select>
<br> <br>
<p>Edit the "Basket Name" you selected <p>
<label for="name">Basket Name:</label>
<input type="text" name="name"   />
<p>Edit the "Basket Ingredients" you selected <p>
<label for="ingredients">Basket Ingredients: </label>
<input type="text" name="ingredients"  />
<input type='submit' value="Update basket" />
</form>

<h2>To Delete a whole "Gourmet Basket"</h2>
<form action="/basket/destroy" method="post">
<input type="hidden" name="_method" value="delete">
<select name="baskets">
<% Basket.all.each do |basket|%>
<% if basket.name !=nil && basket.user_id == current_user.id %>
<option value="<%= basket.id %>" id="<%= basket.id %>" name="<%= basket.name %>">  <%= basket.id %>: <%= basket.name %> Basket. This contains: <%= basket.ingredients %> </option>
<% end %>
<% end %>
</select>
<input type="submit" value="delete" />
</form>

<br><br><br>
<hr>
<br>
<h3>Feeling Creative?</h3>
<h4>Click <a href="/basket/new">Here</a> to do so</h4>
<hr>
<br>
<br><br>
<a href="/logout">Logout</a> | <a href="/profile/<%= current_user.id %>">Click here to go back to your profile</a>