<h2>Edit your customized basket</h2>
<h1>These are all baskets created</h1>

<ul><% @baskets.each do |basket| %>
<% if basket.name && basket.user_id == current_user.id %>
<br>
    <li><b><%= basket.id%>.</b> <b><%= basket.name.capitalize%>:</b> <i>Contains</i> : <u><%= basket.ingredients%></u></li>
    <% end %>
    <% end %>
</ul>
<br>
<h2>To update your customized "Gourmet Basket"</h2>



<% @baskets.each do |basket|%>

<%binding.pry%>
<form action =<%= "/baskets/#{basket.id} "%> id="basketlist" method ="post" >
<input type="hidden" name="_method" value="put">
<br>
<p>Choose the basket that you have created that you want to edit</p>
<label for="<%= basket.id%>">Basket: </label>


<select id="<%= basket.id%>">


<option value="<%= basket.id%>" id="<%= basket.id %>" name="<%= basket.id %>"><%= basket.name %> Basket</option>
<% end %>

</select>
<br> <br>
<p>Edit the "Basket Name" you selected <p>
<label for="name">Basket Name:</label>
<input type="text" name="basket[name]"   />
<p>Edit the "Basket Ingredients" you selected <p>
<label for="ingredients">Basket Ingredients: </label>
<input type="text" name="basket[ingredients]"  />
<input type='submit' value="Update basket" />
</form>

<h2>To Delete a whole "Gourmet Basket"</h2>
<form action="/baskets/:basket_id" method="post">
<input type="hidden" name="_method" value="delete">
<select name="basket">
<% @baskets.each do |basket|%>

<option value="<%= basket.id %>" id="<%= basket.id %>" name="<%= basket.name %>">  <%= basket.id %>: <%= basket.name %> Basket. This contains: <%= basket.ingredients %> </option>
<% end %>
</select>
<input type="submit" value="delete" />
</form>

<br><br><br>
<hr>
<br>
<h3>Feeling Creative?</h3>
<h4>Click <a href="/baskets/new">Here</a> to do so</h4>
<hr>
<br>
<br><br>
<a href="/logout">Logout</a> | <a href="/user/<%= current_user.id %>">Click here to go back to your profile</a>