<h1>Hello  <%= current_user.name %> !</h1>
<h3>Here are all the baskets</h3>



<h2 style="color:red;"><%= @deleted_message %></h2>


<ul><% @baskets.all.each do |basket| %>
<br>
<% if basket.name %>
    <li><b><a href="<%= "/baskets/#{basket.id}"%>"><%= basket.id%></b></a> <b><%= basket.name.capitalize%></b></li>
    <% end %>
    <% end %>
</ul>
<br>


<hr>
<h3>Feeling Creative?</h3>
<h4>Click <a href="/baskets/new">Here</a></h4>
<hr>
<br>

<br><br>
<a href="/logout">Logout</a> | <a href="<%= "/users/#{current_user.id}"%>">Click here to go back to your profile</a>
