<% if @user %>
<h1>Hello  <%= @user.name %> !</h1>
<h3>Here are all the baskets</h3>
 <% end %>


<ul><% Basket.all.each do |basket| %>
<br>
<% if basket.name %>
    <li><b><%= basket.id%>.</b> <b><%= basket.name.capitalize%>:</b> <i>Contains</i> : <u><%= basket.ingredients%></u></li>
    <% end %>
    <% end %>
</ul>
<br>


<hr>
<h3>Feeling Creative?</h3>
<h4>Click <a href="/baskets/new">Here</a> to do so</h4>
<hr>
<br>
<h3>To make a change to your basket</h3>
<h4><a href="/baskets/:basket.user_id/edit">click here!</a></h4>
<hr>
<br>

<br><br>
<a href="/logout">Logout</a> | <a href="/user/<%= current_user.id %>">Click here to go back to your profile</a>
