<h1>Create your custom gourmet basket</h1>
<h2>These are what already made</h2>
<ul><% Basket.all.each do |basket| %>
<% if basket.name%>
<br>
    <li><b>ID:<%= basket.id%>.</b> <b><%= basket.name.capitalize%> Basket :</b> <i>Contains</i> : <u><%= basket.ingredients%></u></li>
    <% end %>
    <% end %>
</ul>
<br><br><br>
<h2><b>Create a Basket<b></h2>
<form action ="/basket/create" method = "post">
<label for="name">Basket Name:</label>
<input type="text" id="name" name="name" />
<label for="name">Basket Ingredients: </label>
<input type="text" id="ingredients" name="basket[ingredients]" />
<input type='submit' value="submit" />
</form>
<br>
<br>
<br><br><br>
<h2>To edit your baskets: Click <a href="/show/<%= current_user.id %>/edit"> Here!</a></h2>
<br>

<br>
<a href="/logout">Logout</a> | <a href="/profile/<%= current_user.id %>">Click here to go back to your profile</a>