<h1>Create your custom gourmet basket</h1>
<h2>These are what already made</h2>

<ul><% Basket.all.each do |basket| %>
<% if basket.name%>
<br>
    <li><b>ID:<%= basket.id%></b> <b><%= basket.name.capitalize%> Basket :</b> <i>Contains</i> : <u><%= basket.ingredients%></u></li>
    <% end %>
    <% end %>
</ul>
<br><br><br>

<h2 style="color:red;"><%= @created_message %></h2>

<h2><b>Create a Basket<b></h2>
<form action ="/baskets" method = "post">
<label for="name">Basket Name:</label>
<input type="text" id="name" name="basket[name]" />
<label for="name">Basket Ingredients: </label>
<input type="text" id="ingredients" name="basket[ingredients]" />
<input type='submit' value="submit" />
</form>
<br>
<br>
<br>

<br>
<a href="/logout">Logout</a> | <a href="<%="/users/#{current_user.id}"%>">Click here to go back to your profile</a>