<% if updated_message %>
<h2 style="color:red;"><%= updated_message %></h2>
<% end %>

<h2>The <%= @basket.name%> Basket</h2>
<h3>This contains:</h3>
<p><%= @basket.ingredients%></p>
<hr>
<br>

<h3>To see the baskets you have made</h3>

<h2>Click <a href="<%= "/users/#{current_user.id}/baskets" %>">Here</a></h2>


<h3>To make a change to your basket</h3>
<h4><a href="<%= "/baskets/#{@basket.id}/edit" %>">click here!</a></h4>
<br>
<br>
<a href="/logout">Logout</a> | <a href="<%="/users/#{current_user.id}"%>">Click here to go back to your profile</a>