<h1>Hello</h1>
<p>You picked a <%= @pick_a_basket %> basket</p>
<p>This includes <%= @pick_an_ingredient %></p>

<p>Would you like to create your custom basket?</p>
<p><a href="/display/basket/:user_id">Click here!</a><p>

<%=# This file should be used for the orders model, it should come from a select form  %>
<%=# Said file was deleted when I was making changes %>
<%=# Create a new orderscontroller capability to make an order %>
<%=# Will need to use an API to map out delivery %>
<%=# Perhaps dispaly a timer or clock counting down from 30 minutes  %>
<%=# Add feature for payment, and vip status? %>